body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.slick-slide img
{
  display: none !important;
}
.slick-slide span
{
  display: none;
}
.slick-slide p
{
  display:none;
}
.slick-current img
{
  margin-top: -10px;
  display:-webkit-inline-box !important;
  width: 120px;
  height:120px;
}
.slick-current span
{
  display:block;
}
.slick-current p
{
  display:block;
}

.slick-active img
{
  display:-webkit-inline-box !important;
}
.slick-dots
{
  text-align:left !important;
  margin-top: 20px !important;
  position: relative !important;
}
.slick-dots li button:before {
  font-size: 11px !important;
}

@media(max-width:1200px)
{
    .slick-dots{
    text-align:center !important;
    }
    .ant-modal-close-x
    {
      color:black !important;
    }
}

.ant-modal
{
  width:75% !important;
}
.ant-modal-content
{
  border-radius: 0px !important;
  height: 815px;
}
.ant-modal-close-x
{
  font-size: 20px;
  color: white;
}